<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
<!--    <style>-->
<!--        .kge-search-picker {-->
<!--            width:<DROPDOWN_MENU_WIDTH>;-->
<!--        }-->
<!--    </style>-->
    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script src="/javascripts/create-room.js" ></script>
    <script type="application/javascript" src="/javascripts/knowledgeGraph.js"></script>
    <script src="/javascripts/canvas.js"></script>
</head>
<body onload="init()">
    <div id="initial_form" style="display: block">
        <h1 id="post-title"></h1>
        <img id="post-image"/>
        <h2 id="post-author"> </h2>
        <form onsubmit="return false;">
            <p><label for="name"> Enter your name: </label>
                <input type="text" id="name" name="name">
            </p>
            <p>
                <label>Join Room</label>
                <input type="text" id="roomNo" name="roomNo">
                <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
                <select id="prev-rooms" onchange="setRoomToInput()">
                    <option>Show previous rooms</option>
                </select>
                <p id="room-code">Your Room Code is:</p>
            </p>
            <button><a id="connect" href="./room" onclick="connectToRoom()">Connect</a></button>
        </form>
    </div>
</body>
</html>
