<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script src="/javascripts/index.js"></script>
</head>
<body onload="init()" >

    <!--Post a story button-->
    <form action="story/post-story">
        <input type="submit" value="Post Story" />
    </form>
    <div id="all-posts" ></div>
</body>
</html>
