<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STORY</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script src="/javascripts/story.js"></script>
    <script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js">
    </script>
    <style>
        textarea {
            width: 50%;
            height: 120px;
            padding: 10px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: white;
            resize: none;
        }

        canvas {
            height: 175px;
            border-style: solid;
            border-width: 1px;
            border-color: black;
        }
    </style>
</head>
<body onload="init()" >
    <div>
        <h1><%= title %></h1>
        <p>Please fill the form with all the details to upload a story.</p>
        <form id="xForm" >
            <label for="fname">Author name:</label><br>
            <input type="text" id="aName" name="aName"><br>
            <label for="title">Story Title:</label><br>
            <input type="text" id="postTitle" name="postTitle"><br>
            <label for="image">Choose a Image to upload:</label><br>
            <input type="file" id="postImage" name="postImage" onchange="convertToBase64String()"><br>
            <label for="description">Description of the story :</label><br>
            <textarea id="postDescription" name="postDescription"></textarea><br>
            <input id="toUpload" name="toUpload"  value="toUpload" style="display: none;">
            <input type="submit" value="Submit">
        </form>
    </div>
    <script type='text/javascript'>

        function convertToBase64String() {
          var filesSelected = document.getElementById("postImage").files;
          if (filesSelected.length > 0) {
            var fileToLoad = filesSelected[0];

            var fileReader = new FileReader();

            fileReader.onload = function(fileLoadedEvent) {
              var srcData = fileLoadedEvent.target.result;
              document.getElementById("toUpload").value = srcData;
            }
            fileReader.readAsDataURL(fileToLoad);
          }

        }
      </script>
</body>
</html>